.searchbox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
}

input {
    background: none;
    border-radius: 0.3rem;
    color: $dark-blue;
    height: 1.5rem;
    width: 30%;
    margin-left: 2.5rem;
}
