main {
    color: $dark-blue; 
    padding: 0 0 1rem;
    margin: 0 1rem 0 1rem;
    text-align: left;
    font-weight: normal;
    font-size: 1rem;        
}

.leads__contact {
    background-color: $grey; 
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding: 0.5rem 1rem; 
    margin: 0.7rem 0;
    border-radius: 0.3rem;
    width: 95%;
}

.leads__userphoto {
    height: auto;
    margin: 1rem;
}
.leads__info {
    margin-left: 1rem;
}

/* xs - extra-small */
@media (max-width: 767px) {
    
    .leads__userphoto {
        width: 25%;
    
    }
    .leads__info {
        width: 60%;
    }

    .leads__address {
        display: none;
    }
}

/* sm - small */
@media screen and (min-width: 768px) and (max-width: 991px) {

    .leads__userphoto {
        width: 25%;
    }

    .leads__info {
        width: 40%;
    }

    .leads__address {
        width: 30%;
        margin-left: 1.5rem;
    }

}

/* md - medium */
@media screen and (min-width: 992px) and (max-width: 1279px) {

    .leads__userphoto {
        width: 25%;
    }

    .leads__info {
        width: 35%;
    }

    .leads__address {
        width: 30%;
        margin-left: 1.8rem;
    }
}
/* lg - large */
@media screen and (min-width: 1280px) {
    .leads__userphoto {
        width: 19%;
    }

    .leads__info {
        width: 38%;
    }

    .leads__address {
        width: 38%;
    }
}