tbody {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: $dark-blue;
}

table thead th {
    background: #ffffff;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr {
    opacity: 0.7;
}

table tbody td {
    
    padding: 1rem 2rem; 
}

hr {
    color: 1px $default;
}
