body {
  font-family: 'Roboto', sans-serif;
  color: $dark-blue;
}

a {
  text-decoration: none;
  color: $blue;
}

a:hover {
  color: $light-blue;
}

ul > li{
  list-style-type: none;
}

/* xs - extra-small */
@media (max-width: 767px) {
  h1 {
    font-size: 1.3rem;
    padding: 0;
  }
}

/* sm - small */
@media screen and (min-width: 768px) and (max-width: 991px){
  h1 {
    font-size: 1.6rem;
  }
}
/* md - medium */
@media screen and (min-width: 992px) and (max-width: 1279px) {
  h1 {
    font-size: 1.7rem;
  }
}
/* lg - large */
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 1.8rem;
  }
}


